@page "/chart-types"
<h3>Chart Types</h3>

<Row class="row-deck row-cards">
    <RowCol Lg=3 Sm=6 Xs=12>
        <OrderChart ChartType=ChartType.Line />
    </RowCol>

    <RowCol Lg=3 Sm=6 Xs=12>
        <ChartCard>
            <OrderChart ChartType=ChartType.Bar  />
        </ChartCard>
    </RowCol>

    <RowCol Lg=3 Sm=6 Xs=12>
        <ChartCard>
            <OrderChart ChartType=ChartType.Area  />
        </ChartCard>
    </RowCol>

    <RowCol Lg=3 Sm=6 Xs=12>
        <ChartCard>
            <MixedChart   />
        </ChartCard>
    </RowCol>

     <RowCol Lg=3 Sm=6 Xs=12>
        <ChartCard>
            <OrderChart ChartType=ChartType.RadialBar  />
        </ChartCard>
    </RowCol>

     <RowCol Lg=3 Sm=6 Xs=12>
        <ChartCard>
            <OrderChart ChartType=ChartType.Scatter  />
        </ChartCard>
    </RowCol>

      <RowCol Lg=3 Sm=6 Xs=12>
        <ChartCard>
            <OrderChart ChartType=ChartType.Pie  />
        </ChartCard>
    </RowCol>

      <RowCol Lg=3 Sm=6 Xs=12>
        <ChartCard>
            <OrderChart ChartType=ChartType.Donut  />
        </ChartCard>
    </RowCol>

      <RowCol Lg=3 Sm=6 Xs=12>
        <ChartCard>
            <OrderChart ChartType=ChartType.Treemap  />
        </ChartCard>
    </RowCol>

    <RowCol Lg=3 Sm=6 Xs=12>
        
    </RowCol>

     <RowCol Lg=3 Sm=6 Xs=12>
    
    </RowCol>

   

    <RowCol Lg=6 Sm=12>
        <ChartCard>
            <OrderChart ChartType=ChartType.Histogram  />
        </ChartCard>
    </RowCol>
    <RowCol Lg=6 Sm=12>
        <ChartCard>
            <OrderChart ChartType=ChartType.Radar  />
        </ChartCard>
    </RowCol>

</Row>


@code {
    private List<Order> orders { get; set; } = SampleData.GetOrders();
}
