@page "/chart-types"
<h3>Chart Types</h3>

<Row class="row-deck row-cards">
    <RowCol Lg=3 Sm=6 Xs=12>
         <ChartCard>
        <OrderChart ChartType=ChartType.Line />
    </ChartCard>
    </RowCol>

    <RowCol Lg=3 Sm=6 Xs=12>
        <ChartCard>
            <OrderChart ChartType=ChartType.Bar />
        </ChartCard>
    </RowCol>

    <RowCol Lg=3 Sm=6 Xs=12>
        <ChartCard>
            <OrderChart ChartType=ChartType.Area />
        </ChartCard>
    </RowCol>

    <RowCol Lg=3 Sm=6 Xs=12>
        <ChartCard>
            <MixedChart />
        </ChartCard>
    </RowCol>

    <RowCol Lg=3 Sm=6 Xs=12>
        <ChartCard>
            <OrderChart ChartType=ChartType.Pie />
        </ChartCard>
    </RowCol>

    <RowCol Lg=3 Sm=6 Xs=12>
        <ChartCard>
            <OrderChart ChartType=ChartType.Donut />
        </ChartCard>
    </RowCol>

    <RowCol Lg=3 Sm=6 Xs=12>
        <GaugeChart />
    </RowCol>

     <RowCol Lg=3 Sm=6 Xs=12>
         <ChartCard>
        <HeatMapChart />
        </ChartCard>
    </RowCol>

    <RowCol Lg=3 Sm=6 Xs=12>
        <ChartCard>
            <OrderChart ChartType=ChartType.RadialBar />
        </ChartCard>
    </RowCol>

    <RowCol Lg=3 Sm=6 Xs=12>
        <ChartCard>
            <OrderChart ChartType=ChartType.PolarArea />
        </ChartCard>
    </RowCol>

    <RowCol Lg=3 Sm=6 Xs=12>
        <ChartCard>
            <OrderChart ChartType=ChartType.Treemap />
        </ChartCard>
    </RowCol>


    <RowCol Lg=3 Sm=6 Xs=12>
        <ChartCard>
            <OrderChart ChartType=ChartType.Scatter />
        </ChartCard>
    </RowCol>



     <RowCol Lg=6 Sm=12>
        <ChartCard>
            <BoxPlotChart />
        </ChartCard>
    </RowCol>

      <RowCol Lg=6 Sm=12>
        <ChartCard>
           <CandlestickChart />
        </ChartCard>
    </RowCol>

     <RowCol Lg=6 Sm=12>
        <ChartCard>
            <RangeBarChart />
        </ChartCard>
    </RowCol>

     <RowCol Lg=6 Sm=12>
        <ChartCard>
            <OrderChart ChartType=ChartType.Radar />
        </ChartCard>
    </RowCol>

    <RowCol Lg=6 Sm=12>
        <ChartCard>
            <OrderChart ChartType=ChartType.Histogram />
        </ChartCard>
    </RowCol>
   

</Row>
