@page "/chart-types"
<h3>Chart Types</h3>

<Row class="row-deck row-cards">
    <RowCol Lg=3 Sm=6 Xs=12>
         <ChartCard>
        <OrderChart PointType=PointType.Line />
    </ChartCard>
    </RowCol>

    <RowCol Lg=3 Sm=6 Xs=12>
        <ChartCard>
            <OrderChart PointType=PointType.Bar />
        </ChartCard>
    </RowCol>

    <RowCol Lg=3 Sm=6 Xs=12>
        <ChartCard>
            <OrderChart PointType=PointType.Area />
        </ChartCard>
    </RowCol>

    <RowCol Lg=3 Sm=6 Xs=12>
        <ChartCard>
            <MixedChart />
        </ChartCard>
    </RowCol>

    <RowCol Lg=3 Sm=6 Xs=12>
        <ChartCard>
            <OrderChart PointType=PointType.Pie />
        </ChartCard>
    </RowCol>

    <RowCol Lg=3 Sm=6 Xs=12>
        <ChartCard>
            <OrderChart PointType=PointType.Donut />
        </ChartCard>
    </RowCol>

    <RowCol Lg=3 Sm=6 Xs=12>
        <GaugeChart />
    </RowCol>

     <RowCol Lg=3 Sm=6 Xs=12>
         <ChartCard>
        <HeatMapChart />
        </ChartCard>
    </RowCol>

    <RowCol Lg=3 Sm=6 Xs=12>
        <ChartCard>
            <OrderChart PointType=PointType.RadialBar />
        </ChartCard>
    </RowCol>

    <RowCol Lg=3 Sm=6 Xs=12>
        <ChartCard>
            <OrderChart PointType=PointType.PolarArea />
        </ChartCard>
    </RowCol>

    <RowCol Lg=3 Sm=6 Xs=12>
        <ChartCard>
            <OrderChart PointType=PointType.Treemap />
        </ChartCard>
    </RowCol>


    <RowCol Lg=3 Sm=6 Xs=12>
        <ChartCard>
            <OrderChart PointType=PointType.Scatter />
        </ChartCard>
    </RowCol>



     <RowCol Lg=6 Sm=12>
        <ChartCard>
            <BoxPlotChart />
        </ChartCard>
    </RowCol>

      <RowCol Lg=6 Sm=12>
        <ChartCard>
           <CandlestickChart />
        </ChartCard>
    </RowCol>

     <RowCol Lg=6 Sm=12>
        <ChartCard>
            <RangeBarChart />
        </ChartCard>
    </RowCol>

     <RowCol Lg=6 Sm=12>
        <ChartCard>
            <OrderChart PointType=PointType.Radar />
        </ChartCard>
    </RowCol>

    <RowCol Lg=6 Sm=12>
        <ChartCard>
            <OrderChart PointType=PointType.Histogram />
        </ChartCard>
    </RowCol>
   

</Row>
