
<Alert>
    <p>This is an example of using the ApexchartService to set global chart options</p>
</Alert>


<ItemSelect class="mt-3" Label="Theme Mode" TItem="Mode?" TValue="Mode?"
            Items="EnumHelper.GetNullableList<Mode>()" @bind-SelectedValue="globalOptions.Theme.Mode" Changed=UpdateOptionsAsync />


<ItemSelect class="mt-3" Label="Theme Palette" TItem="PaletteType?" TValue="PaletteType?"
            Items="EnumHelper.GetNullableList<PaletteType>()" @bind-SelectedValue="globalOptions.Theme.Palette" Changed=UpdateOptionsAsync />


<ItemSelect class="mt-3" Label="Locale" SelectedTextExpression="e => e.Language" Items="ChartService.LocaleResources" @bind-SelectedValue="selectedLocale" MaxListHeight="400px" Changed=SetLocaleAsync>
    <ListTemplate>
        @context.Language
    </ListTemplate>
</ItemSelect>

<div class="mt-3" />
<Checkbox  Label="Debug" Switch Value="globalOptions.Debug??false" ValueChanged="SetDebugAsync" />




