<Navbar Darkmode Direction=NavbarDirection.Vertical>

    <a href="https://github.com/apexcharts/Blazor-ApexCharts" target=_blank class="navbar-brand navbar-brand-autodark">
        <h3 class="">
            Blazor ApexCharts
            <Icon Elements=@Icons.Brand_github BackgroundColor=TablerColor.White />
        </h3>
    </a>
    <NavbarMenu>


        <NavbarMenuItem Href="" Text="Chart Types">
            <MenuItemIcon>
                <Icon class="icon" Elements="@Icons.Chart_infographic" />
            </MenuItemIcon>
        </NavbarMenuItem>

        <NavbarMenuItem Href="line-charts" Text="Line Charts">
            <MenuItemIcon>
                <Icon class="icon" Elements="@Icons.Chart_line" />
            </MenuItemIcon>
        </NavbarMenuItem>

         <NavbarMenuItem Href="bar-charts" Text="Bar Charts">
            <MenuItemIcon>
                <Icon class="icon" Elements="@Icons.Chart_bar" />
            </MenuItemIcon>
        </NavbarMenuItem>


    </NavbarMenu>
</Navbar>

