pre.highlight,
.highlight pre {
    max-height: 30rem;
    overflow: auto;
    background: #354052;
    color: #ffffff;
}

.highlight .htmlAttributeName, .highlight .razor {
    color: #ffe484;
}

.highlight .htmlTagDelimiter, .highlight .htmlElementName {
    color: #ff8383;
}

.highlight .htmlAttributeValue, .highlight .string {
    color: #b5f4a5;
}

.highlight .keyword {
    color: #93ddfd;
}



#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1100;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }