@page "/methods/render"

<DocExamples Title="Render">
    <Description>
        <p> Chart.Render() will completely re-render the chart. The javascript chart object will be removed and re-created </p>
    </Description>
    <ChildContent>
        <CodeSnippet Title=Basic ClassName=@typeof(Basic).ToString()>
            <Snippet>
                <Basic />
            </Snippet>
        </CodeSnippet>
    </ChildContent>
</DocExamples>

