@page "/features/formatters"

<DocExamples Title="Formatters">

     

    <CodeSnippet Title="Use javascript" ClassName=@typeof(UseJavascript).ToString()>
        <Snippet>
            <UseJavascript />
        </Snippet>
    </CodeSnippet>

      <CodeSnippet Title="Donut" ClassName=@typeof(Donut).ToString()>
        <Snippet>
            <Donut />
        </Snippet>
    </CodeSnippet>

    <CodeSnippet Title="Multiple Y Axis" ClassName=@typeof(MultipleYAxis).ToString()>
        <Snippet>
            <MultipleYAxis />
        </Snippet>
    </CodeSnippet>

    <CodeSnippet Title="Pass Extra Data" ClassName=@typeof(ExtraData).ToString()>
        <Snippet>
            <ExtraData />
        </Snippet>
    </CodeSnippet>

    <CodeSnippet Title="Use DotNet" ClassName=@typeof(UseDotnet).ToString()>
        <Description>
            <Alert BackgroundColor=TablerColor.Danger>

                <div class="d-flex">
                    <div class="me-2">
                        <Icon TextColor=TablerColor.Danger IconType=@Icons.Alert_triangle Size=40 />
                    </div>
                    <div>
                        <h4 class="alert-title">Only supported in Blazor WebAssembly!</h4>
                        <div class="text-muted">Currently this is only supported in web assembly</div>
                    </div>
                </div>
            </Alert>
        </Description>
        <Snippet>
            <UseDotnet />
        </Snippet>
    </CodeSnippet>

    <CodeSnippet Title="Use DotNet for X Axis" ClassName=@typeof(UseDotNetXAxis).ToString()>
        <Description>
            <Alert BackgroundColor=TablerColor.Danger>

                <div class="d-flex">
                    <div class="me-2">
                        <Icon TextColor=TablerColor.Danger IconType=@Icons.Alert_triangle Size=40 />
                    </div>
                    <div>
                        <h4 class="alert-title">Only supported in Blazor WebAssembly!</h4>
                        <div class="text-muted">Currently this is only supported in web assembly</div>
                    </div>
                </div>
            </Alert>
        </Description>
        <Snippet>
            <UseDotNetXAxis />
        </Snippet>
    </CodeSnippet>



</DocExamples>
