@page "/events/before-zoom"

<DocExamples Title="Before Zoom">

    <Description>
        <Alert BackgroundColor=TablerColor.Danger>
            <div class="d-flex">
                <div class="me-2">
                    <Icon TextColor=TablerColor.Danger IconType=@Icons.Alert_triangle Size=40 />
                </div>
                <div>
                    <h4 class="alert-title">Only supported in Blazor WebAssembly!</h4>
                    <div class="text-muted">Event 'OnBeforeZoom' is only supported in web assembly</div>
                </div>
            </div>
        </Alert>
    </Description>

    <ChildContent>
        <CodeSnippet Title="Basic" ClassName=@typeof(Basic).ToString()>
            <Snippet>
                <Basic />
            </Snippet>
        </CodeSnippet>
    

    </ChildContent>

</DocExamples>
