@page "/features/blazor-options"

<DocExamples Title="Custom Javascript path">

    <CodeSnippet Title="Custom Javascript path" ClassName=@typeof(JavascriptPath).ToString()>

        <Description>
            <Alert>

                <div>
                    Alternative File path to the Blazor javascript file, blazor-apexcharts.js
                </div>
                <div>
                    This must be the full path including filename and the file apexcharts.esm.js must be in the same folder
                </div>



            </Alert>
        </Description>
        <Snippet>
            <JavascriptPath />
        </Snippet>
    </CodeSnippet>



</DocExamples>
