@page "/radialbar-chart"

<h3>RadialBar Chart</h3>

<div class="row">
    <div class="col-md-12 col-lg-6">
        <ApexChart TItem="PrecentValue" Title="Radial Bar Sample"
                   ChartType="@ChartType.RadialBar"
                   Options="@options">

            <ApexSeries TItem="PrecentValue"
                        Items="values"
                        XValue="@(e => e.Label)"
                        YAggregate="@(e => e.Sum(e => e.Value))"
                        ShowDataLabels="true" />
        </ApexChart>
    </div>
</div>

@code {
    private List<PrecentValue> values = new List<PrecentValue>();
    private ApexChartOptions<PrecentValue> options = new ApexChartOptions<PrecentValue>();

    protected override void OnInitialized()
    {
        options.Chart = new Chart { Sparkline = new ChartSparkline() };

     
        options.PlotOptions = new PlotOptions
        {
            RadialBar = new PlotOptionsRadialBar
            {
                DataLabels = new RadialBarDataLabels
                {
                    Name = new RadialBarDataLabelsName { FontSize = "26px", OffsetY = -20 },
                    Value = new RadialBarDataLabelsValue {
                        Formatter = @"function (val) { return val + '%'}",
                        FontSize = "36px", FontWeight = "bold",
                        Color = "lightgray" }
                }
            }
        };

        values.Add(new PrecentValue { Label = "Data 1", Value = 22 });
        values.Add(new PrecentValue { Label = "Data 2", Value = 83 });
        values.Add(new PrecentValue { Label = "Data 3", Value = 47 });
    }


    public class PrecentValue
    {
        public string Label { get; set; }
        public int Value { get; set; }

    }

}
