<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Blazor-ApexCharts</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="basic-charts">
                <span class="oi oi-plus" aria-hidden="true"></span>Basic Charts
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="datetime-chart">
                <span class="oi oi-calendar" aria-hidden="true"></span>DateTime Chart
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="gauge-chart">
                <span class="oi oi-dial" aria-hidden="true"></span>Gauge Chart
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="radialbar-chart">
                <span class="oi oi-dial" aria-hidden="true"></span>Radial Bar Chart
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="sparklines">
                <span class="oi oi-bar-chart" aria-hidden="true"></span>Sparklines
            </NavLink>
        </li>


        <li class="nav-item px-3">
            <NavLink class="nav-link" href="series-options">
                <span class="oi oi-resize-width" aria-hidden="true"></span>Series options
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="render-chart">
                <span class="oi oi-reload" aria-hidden="true"></span>Render Chart
            </NavLink>
        </li>




    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
