@page "/gauge-chart"

<h3>Gauge</h3>

<input type="text" @bind="precentage" />


<div class="row">
    <div class="col-md-12 col-lg-6">
        <ApexGauge Label="Jocke" Precentage="precentage" />
    </div>
</div>

@code {

    private decimal precentage = 10;

}