<Card class="mb-3">
    <CardHeader id="@Id">
        <h4 class="card-title">@Title</h4>
    </CardHeader>

    <CardBody>
        @Description

        <div class="p-3 @ExampleBackground()" >
            @Snippet
        </div>

        <div class="card-code">
            <figure class="highlight">
                <Card>
                    <CardBody>
                        @((MarkupString)@Code)
                    </CardBody>
                </Card>
            </figure>
        </div>

    </CardBody>
</Card>

