@* <div class="card-code">
    <figure class="highlight">
        <Card>
            <CardBody>
                @((MarkupString)@html)
            </CardBody>
        </Card>
    </figure>
</div>
 *@
<div class="card-code">
    <figure class="highlight">

                @((MarkupString)@html)
    </figure>
</div>