<div class="row justify-content-center">
    <div class="d-none d-lg-block col-lg-3 order-lg-1 mb-4">
        <div class="sticky-top">
         

            <h5 class="subheader">On this page</h5>
            <ul class="list-unstyled">
                @foreach (var codeSnippet in CodeSnippets)
                {
                    <li class="toc-entry toc-h2"><a href="javascript:void(0)" @onclick="@(()=> NavigateTo(codeSnippet))">@(codeSnippet.Title ?? "*No Title*")</a></li>
                }
            </ul>
        </div>
    </div>

    <div class="row col-9">
        <Card Size="CardSize.Default">
            <CardBody>
                <div class="d-flex">
                    <h3 class="h1 mt-0 mb-3">@Title</h3>
                </div>
                @Description

                <CascadingValue Value="@this">
                    @ChildContent
                </CascadingValue>
            </CardBody>
        </Card>


    </div>
</div>


