@page "/chart-service"


<DocExamples Title="Chart Service">
    <Description>
    

        <Alert class="m-3" BackgroundColor="TablerColor.Warning" Important>
            <p>Please note! Not released, will be part of version 4.0</p>
        </Alert>

        ApexChartService is a service that will manage global options, set locales, manage charts on the screen.

    </Description>

    <ChildContent>
        <CodeContainer Title="Installation">
            <Installation />
        </CodeContainer>
        <CodeContainer Title="Usage">
            <Usage />
        </CodeContainer>
    </ChildContent>

</DocExamples>
