<DemoContainer>

     <Button class="mb-2" OnClick=UpdateChartSeries BackgroundColor="TablerColor.Primary">Update Series</Button>


    <ApexChart TItem="Order"
               Title="Order Gross Value"
     @ref=chart>

        <ApexPointSeries TItem="Order"
                         Items="orders"
                         Name="Gross Value"
                         SeriesType="SeriesType.Pie"
                         XValue="@(e => e.Country)"
                         YAggregate="@(e => e.Sum(e => e.GrossValue))"
                         OrderByDescending="e=>e.X" />
    </ApexChart>
</DemoContainer>

<div>
@message
</div>
@code {
    private List<Order> orders { get; set; } = SampleData.GetOrders();
    private ApexChart<Order> chart;
    private string message;
    private async Task UpdateChartSeries()
    {
        var order = orders.First();
        message = order.Country;
        order.GrossValue = order.GrossValue * (decimal)1.6; 
        await chart.UpdateSeries(true);
    }
    }