/* _content/TabBlazor/Components/Forms/Datepickers/Datepicker.razor.rz.scp.css */

.datepicker[b-lumjoiahh4] {
    width: 384px;
    color: rgb(93 96 100);
}

.datepicker-dropdown[b-lumjoiahh4] {
    width: 250px;
}

.datepicker-month[b-lumjoiahh4] {
    text-align: center;
    font-weight: 500;
    font-size: large;
  
}

.datepicker-day[b-lumjoiahh4] {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    height: 39px;
    border-radius: 4px;
    line-height: 1;
    cursor: pointer
}

.datepicker-day-dropdown[b-lumjoiahh4] {
    height: 30px;
 }

    .datepicker-day:hover[b-lumjoiahh4] {
        background: rgba(101,109,119,.06);
        border-color: transparent;
    }

.datepicker-not-month[b-lumjoiahh4] {
    opacity: 0.5;
}



.datepicker-weekdays[b-lumjoiahh4],
.datepicker-days[b-lumjoiahh4] {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}


/*// Styles for the weekday/weekend header*/
.datepicker-weekdays[b-lumjoiahh4] {
    margin-top: 1.25em;
}

.datepicker-weekdays[b-lumjoiahh4] {
    text-align: center;
    font-size: .625rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .04em;
    line-height: 1.6;
    color: #656d77;
    
}

/* Dates */
.datepicker-days[b-lumjoiahh4] {
    margin-top: 0.5em;
}
/* _content/TabBlazor/Components/Popovers/Popover.razor.rz.scp.css */
.popover-container[b-ln8dyv3yn7] {
    position: relative;
    display: inline-block;
}

.popover[b-ln8dyv3yn7] {
    /* //top: 23px;*/
    left: 98px;
    min-height: 70px;
    min-width: 100px;
}

.popover.arrow[b-ln8dyv3yn7] {
        left: 100px;
    }
/* _content/TabBlazor/Components/RangeSliders/RangeSlider.razor.rz.scp.css */
.single-drag-slider input[type='range'][b-jfmm81n9hg] {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
    height: 5px;
    border-radius: 5px;
    background-image: linear-gradient(#f2f3f4, #f2f3f4);
    background-size: 100%;
    background-repeat: no-repeat;
}

    .single-drag-slider input[type='range'][b-jfmm81n9hg]::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 13px;
        width: 13px;
        border-radius: 50%;
        background: var(--tblr-primary);
        box-shadow: 0 0 2px 1px white;
        transform: translateY(-4px);
    }

    .single-drag-slider input[type='range'][b-jfmm81n9hg]::-moz-range-thumb {
        color: transparent;
        height: 13px;
        width: 13px;
        border-radius: 50%;
        background: var(--tblr-primary);
        box-shadow: 0 0 2px 1px white;
    }

    .single-drag-slider input[type='range'][b-jfmm81n9hg]::-ms-thumb {
        height: 13px;
        width: 13px;
        border-radius: 50%;
        background: var(--tblr-primary);
        box-shadow: 0 0 2px 1px white;
    }

    .single-drag-slider input[type='range'][b-jfmm81n9hg]::-webkit-slider-runnable-track {
        width: 100%;
        height: 5px;
        background: #f2f3f4;
        border-radius: 5px;
    }

    .single-drag-slider input[type='range'][b-jfmm81n9hg]::-moz-range-track {
        width: 100%;
        height: 5px;
        background: #f2f3f4;
        border-radius: 5px;
    }

    .single-drag-slider input[type='range'][b-jfmm81n9hg]::-ms-track {
        -webkit-appearance: none;
        width: 100%;
        box-shadow: none;
        border: none;
        border-color: transparent;
        color: transparent;
        height: 5px;
        background: #f2f3f4;
        border-radius: 5px;
    }

.multi-drag-slider[b-jfmm81n9hg] {
    position: relative;
    height: 10px;
    width: 100%;
    display: inline-block;
}

    .multi-drag-slider input[type='range'][b-jfmm81n9hg] {
        -webkit-appearance: none;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 5px;
        overflow: hidden;
        outline: none;
        background-image: linear-gradient(#f2f3f4, #f2f3f4);
        background-size: 100%;
        background-repeat: no-repeat;
        overflow: visible;
    }

        .multi-drag-slider input[type='range'][b-jfmm81n9hg]::-webkit-slider-runnable-track {
            width: 100%;
            height: 5px;
            background: #f2f3f4;
            border-radius: 5px;
            box-shadow: none;
            border: 0;
        }

        .multi-drag-slider input[type='range'][b-jfmm81n9hg]::-webkit-slider-thumb {
            -webkit-appearance: none;
            z-index: 2;
            position: relative;
            border: 1px solid #003D7C;
            height: 13px;
            width: 13px;
            border-radius: 25px;
            background: var(--tblr-primary);
            margin-top: -7px;
            transform: translateY(2px);
        }


@-moz-document url-prefix() {
    .multi-drag-slider[b-jfmm81n9hg]::before {
        content: '';
        width: 100%;
        height: 5px;
        background: #f2f3f4;
        display: block;
        position: relative;
    }

    .multi-drag-slider input[type='range'][b-jfmm81n9hg] {
        position: absolute;
        top: 35px !important;
        overflow: visible !important;
        height: 0;
    }

        .multi-drag-slider input[type='range'][b-jfmm81n9hg]::-moz-range-thumb {
            position: relative;
            height: 13px;
            width: 13px;
            margin-top: -7px;
            background: var(--tblr-primary);
            border: 1px solid #003D7C;
            border-radius: 25px;
            z-index: 1;
            transform: translateY(-32px);
        }

        .multi-drag-slider input[type='range'][b-jfmm81n9hg]::-moz-range-track {
            z-index: -1;
        }
}
/* _content/TabBlazor/Components/Tooltips/Tooltip.razor.rz.scp.css */
.tooltip-wrapper[b-qwrsjj0686] {
    position: relative;
    display: inline-block;
}

span[b-qwrsjj0686] {
    visibility: hidden;
    position: absolute;
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    background-color: #363636;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
}

    span[b-qwrsjj0686]::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }

.tooltip-wrapper:hover span[b-qwrsjj0686] {
    visibility: visible;
}
