@page "/features/tooltip-dotnet"

<DocExamples Title="Tooltip DotNet">
    <Description>

       <Alert BackgroundColor=TablerColor.Danger>

                <div class="d-flex">
                    <div class="me-2">
                        <Icon TextColor=TablerColor.Danger IconType=@Icons.Alert_triangle Size=40 />
                    </div>
                    <div>
                        <h4 class="alert-title">Please note</h4>
                    <div class="text-muted">For <b>Line charts</b> the wrapper autmatically add <b>Markers</b> in order to trigger the tooltip generation</div>
                    </div>
                </div>
            </Alert>
    </Description>

    <ChildContent>

     <CodeSnippet Title="Basic" ClassName=@typeof(Basic).ToString()>
        <Snippet>
            <Basic />
        </Snippet>
    </CodeSnippet>

      <CodeSnippet Title="Range Bar" ClassName=@typeof(RangeBar).ToString()>
        <Snippet>
            <RangeBar />
        </Snippet>
    </CodeSnippet>

    <CodeSnippet Title="Point Color" ClassName=@typeof(PointColor).ToString()>
        <Snippet>
            <PointColor />
        </Snippet>
    </CodeSnippet>
    </ChildContent>
   
</DocExamples>
