
<Alert>
    <p>This is an example of using the ApexchartService to set global chart options</p>
</Alert>



    <ItemSelect class="mt-3 mb-3" Label="Theme Mode" TItem="Mode?" TValue="Mode?"
                Items="EnumHelper.GetNullableList<Mode>()" @bind-SelectedValue="globalOptions.Theme.Mode" Changed=UpdateOptionsAsync />


    <ItemSelect Label="Palette" TItem="PaletteType?" TValue="PaletteType?"
                Items="EnumHelper.GetNullableList<PaletteType>()" @bind-SelectedValue="globalOptions.Theme.Palette" Changed=UpdateOptionsAsync />



