@inherits LayoutComponentBase
        <ModalContainer />
        <ToastContainer />

         <MainNavigation />
        <div class="page">
            <div class="content">
                <div class="container-fluid mt-2">
                    @Body
                </div>
            </div>
        </div>
