<Navbar Darkmode Direction=NavbarDirection.Vertical>


   @* <a href="https://github.com/joadan/Blazor-Tabler" class="navbar-brand navbar-brand-autodark">
        <img src="_content/Tabler.Docs/img/TabBlazorLogoWhite.png" alt="Tabler" class="navbar-brand-image me-2">
        <h2 class="text-muted">TabBlazor</h2>
    </a>*@


    <NavbarMenu>

        <NavbarMenuItem Href="" Text="Home">
            <MenuItemIcon>
                <Icon class="icon" Elements="@Icons.Home" />
            </MenuItemIcon>
        </NavbarMenuItem>

           <NavbarMenuItem Href="chart-types" Text="Charts types">
            <MenuItemIcon>
                <Icon class="icon" Elements="@Icons.Chart_infographic" />
            </MenuItemIcon>
        </NavbarMenuItem>

          <NavbarMenuItem Href="line-charts" Text="Line Charts">
            <MenuItemIcon>
                <Icon class="icon" Elements="@Icons.Chart_line" />
            </MenuItemIcon>
        </NavbarMenuItem>


</NavbarMenu>
</Navbar>

