
@typeparam TItem
@namespace ApexCharts

<div @ref=ChartContainer id="@chartId" />
<CascadingValue Value="(ApexChart<TItem>)this" Name="Chart">
    @ChildContent

    @if (ApexPointTooltip != null)
    {
        <span  id="apex-tooltip-@ChartId">
            @if (tooltipData != null)
            {
                @ApexPointTooltip(tooltipData)
            }
        </span>
    }

</CascadingValue>
