@page "/features/responsive"

<DocExamples Title="Responsive">

     <CodeSnippet Title="Basic" ClassName=@typeof(Basic).ToString()>
       <Description>
           <div>Resize the page less then 700px to activate the breakpoint</div>
       </Description>
         <Snippet>
            <Basic />
        </Snippet>
    </CodeSnippet>

   
</DocExamples>
